# Modules
import pyrebase
import streamlit as st
from datetime import datetime
from PIL import Image
import numpy as np
import cv2
from io import BytesIO
import base64
from streamlit_option_menu import option_menu
import os
from streamlit_cropper import st_cropper
